/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	width:100%;

}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* normalized css ends */


*{
/* box-sizing: border-box; */

}

body{
	box-sizing:border-box;
	width:75%;
	margin-left:12%;
	margin-right:8%;

}

header {

}


.navBar{
    display:flex;
    font-family:Titillium+web;
    margin-top:3%;
    /* border:2px solid red; */
    justify-content:space-evenly;
    margin-bottom:3%;
    }

    .navLinks{
        /* margin-top:10px; */
    display:flex;
    width: 85%;
    justify-content:space-around;
    /* border:2px solid red; */
    }

    .navLinks a{
        color:gray;
        text-decoration:none;
        /* border:2px solid red; */
    }

    .navLogo{
    margin-top:-1%;
    margin-left:3%;
    justify-content: space-around;
    }

.heroImg{
display:flex;
width:100%;
justify-content:center;
}

.heroImg img{
    min-width: 100%;
margin-left:4%;
}


.aboutServices{
	display:flex;
    width: 100%;
    margin-top:50px;
    margin-bottom:50px;
    justify-content:center;
    margin-left:2%;
    margin-right:2%;
    border-bottom:2px solid gray;
justify-content: space-between;
}

.aboutServices p{
width:100%;
margin-bottom:20px;
}

.services-container{
display:flex;
/* border: 1px solid red; */
background-color: white;
width:100%;
flex-wrap:wrap;
justify-content: space-evenly;
border-bottom: 2px solid gray;
margin-bottom:5%;
justify-content:center;
}

.services-container a{
	
/* height:25px;
width:80px; */

}


.services-container div{
/* background-color:lightgray; */
display:flex;
flex-direction:column;
justify-content:space-between;
/* border:2px solid gray;
width:42%;
margin-left:1%;
margin-bottom:3%;
margin-right: 1%;
/* margin-top: 2%;
background-color:rgb(223, 223, 223);
padding:2% 2% 2% 2%; */
}

.serviceCategory p{
    width:40%;

}

.serviceCategory a{
	background:white;
	border: 1px solid black;
	text-decoration: none;
	color:black;
	/* text-align:center; */
	justify-content: center;
}

#design{
    display:flex;
    border:2px solid gray;
    width:42%;
    margin-left:1%;
    margin-bottom:3%;
    margin-right: 1%;
    margin-top: 2%;
    background-color:rgb(223, 223, 223);
    padding:2% 2% 2% 2%;
    /* justify-content:space-between; */
}

#design p{
    margin-bottom: 3%;
}


#design a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;

}

#ux{
border:2px solid gray;
width:42%;
margin-left:1%;
margin-bottom:3%;
margin-right: 1%;
margin-top: 2%;
background-color:rgb(223, 223, 223);
padding:2% 2% 2% 2%;

}

#ux p{
    margin-bottom: 3%;
}

#ux a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;
}

#marketing{
    border:2px solid gray;
width:42%;
margin-left:1%;
margin-bottom:3%;
margin-right: 1%;
margin-top: 2%;
background-color:rgb(223, 223, 223);
padding:2% 2% 2% 2%;

}

#marketing p{
    margin-bottom: 3%;
}

#marketing a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;
}

#webDev{
    border:2px solid gray;
width:42%;
margin-left:1%;
margin-bottom:3%;
margin-right: 1%;
margin-top: 2%;
background-color:rgb(223, 223, 223);
padding:2% 2% 2% 2%;

}

#webDev p{
    margin-bottom: 3%;
}

#webDev a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;
}

#iosDev{
    border:2px solid gray;
width:42%;
margin-left:1%;
margin-bottom:3%;
margin-right: 1%;
margin-top: 2%;
background-color:rgb(223, 223, 223);
padding:2% 2% 2% 2%;
}

#iosDev p{
    margin-bottom: 3%;
}

#iosDev a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;
}


#android{
    border:2px solid gray;
    width:42%;
    margin-left:1%;
    margin-bottom:3%;
    margin-right: 1%;
    margin-top: 2%;
    background-color:rgb(223, 223, 223);
    padding:2% 2% 2% 2%;

}

#android p{
    margin-bottom: 3%;
}

#android a{
    background:white;
	border: 1px solid black;
	text-decoration: none;
	color:gray;
	text-align:center;
    /* justify-content: center; */
    width: 30%;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 5%;
    padding-top: 2%;
}




















.facts{
display:flex;
justify-content:space-evenly
}

.facts p{
line-height:1.25;
}

.facts ul{
line-height:2;
margin-top:2%;
}

.factCopy{
width:45%;
}

.factImg{
    max-width:50%;
}

footer{
text-align:center;
margin-top:10%;
margin-bottom: 5%;
}



/* testing commit/push from wsl --> vscode remote */
